[submodule "shared-modules"]
	path = shared-modules
	url = git://github.com/flathub/shared-modules.git
[submodule "org.qutebrowser.qutebrowser"]
	path = org.qutebrowser.qutebrowser
	url = git://github.com/flathub/org.qutebrowser.qutebrowser.git
